<h1>Normal Search</h1>

<%= form_for normal_search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<%= link_to '<- Back', articles_path %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <h3>
        <%= link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
          controller: "articles",
          action: "show",
          id: article.id%>
      </h3>
      <% if article.text.include? @key_word %>
        <p><%= highlight article.text, @key_word %></p>
      <% end %>
    </li>
  <% end %>
</ul>
